@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, button, select, textarea, input {
  font-family: 'Roboto';
  font-size: 16px;
}

h1 {
  text-align: center;
}

.helptext {
  display: block;
  font-size: 80%;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

button.button {
  background-color: #208ACC;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #208ACC;
  color: #208ACC;
}

button.button:active {
  background-color: lightblue;
}

/* Navigation */
a,
a:visited {
  text-decoration: none;
  color: #208ACC;
}

a:hover {
  color: #85D0FF;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 1em;
}

.narrow-form {
  border: 1px solid grey;
  max-width: 400px;
  margin: auto;
  padding: 2em;
}

/* Tables */
table {
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
}

th, td {
  border: 1px solid lightblue;
  padding: .5em;
}
